---
---

@import url("{{ 'style.css?v=' | append: site.github.build_revision }}");

$header-background-color: #4276b6;
$header-navbar-color: goldenrod;
$header-content-color: white;
$header-font-color: white;

/*

            +-----------------+
            |   |img|title|   |
            |   |img|motto|   |
            +-----------------+

*/

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.nafoarms-header {
    background-color: $header-background-color;
    padding: 0;
    width: 100%;
//    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content;
//    position: fixed;
}

.nafoarms-masthead {
    padding: 0.5rem;
    display: grid;
    position: relative;
    justify-content: center;
    grid-template-columns: min-content max-content;
    grid-template-rows: min-content min-content;
}

.nafoarms-title {
    grid-row: 1;
    grid-column: 2;
    text-align: center;
    align-self: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 3rem;
    color: $header-font-color;
    font-weight: 900;
    margin-bottom: 0;
}

// add an image before the title ensuring it appears to the left
.nafoarms-logo {
    grid-row: 1 / span 2;
    grid-column: 1;
    padding-right: 0.5rem;
}

.nafoarms-motto {
    grid-row: 2;
    grid-column: 2;
    text-align: center;
    align-self: start;
    font-style: italic;
    color: $header-font-color;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 0;

}

.nafoarms-navbar {
    grid-row: 3;
    grid-column: 1;
    background-color: $header-navbar-color;
    text-align: center;
    padding-top: 0.25rem;
}

.nafoarms-navbar-anchor {
    color: $header-font-color;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0.5rem;
}

#banner {
    width: 100%;
}

.nafoarms-header {
    flex: 1;
}

.nafoarms-main {
    background-color: $header-content-color;
    flex: 2;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-top: 0px; // override the theme
    width: 80%;
}