---
---

$font-family: Roboto, Helvetica, Arial, sans-serif;
$body-background-color: #4176b633;
$header-background-color: #4276b6;
$header-navbar-color: goldenrod;
$header-content-color: white;
$header-font-color: white;
$header-title-font-size: 4rem;
$header-title-font-size-mobile: 3rem;
$header-motto-font-size: 1rem;
$header-motto-font-size-mobile: 0.75rem;

html {
    font-size: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    background-color: $body-background-color;
    font-size: 1rem;
    font-family: $font-family;
    margin: 0;
}

.nafoarms-header {
    background-color: $header-background-color;
    padding: 0;
    width: 100%;
    //    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    //    position: fixed;
}

.nafoarms-masthead {
    display: flex;
    flex: 3 1 auto;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-items: center;
}

.nafoarms-title {
    margin-bottom: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}

.nafoarms-motto {
    vertical-align: top;
    font-style: italic;
    color: $header-font-color;
    font-weight: bold;
    margin-top: 0;
    display: inline-block;
}

.nafoarms-navbar {
    background-color: $header-navbar-color;
    padding: 0.75rem;
    width: 95%;
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 1rem;
    flex-direction: row;
    border-radius: 15px;
}

.nafoarms-main {
    background-color: $header-content-color;
    flex: 2;
    padding: 1rem;
    border-radius: 50px;
    min-width: 80vw;
    max-width: 100vw;
    height: 100%;
}

.nafoarms-main p {
    width: min(45vw, 80%);
    margin-left: auto;
    margin-right: auto;
}

.nafoarms-main img {
    border-radius: 15px;
    width: min(55rem, 90%);
}

.nafoarms-news {
    background-color: #d7faf2;
    padding: 0.75rem;
    flex: 2;
    border-radius: 40px;
}

.nafoarms-news:nth-child(even), {
    background-color: #fce1f8;
}

.nafoarms-news img {
    width: min(30rem, 90%);
    border-radius: 25px;
}

.nafoarms-footer {
    flex: 1;
    bottom: 0;
    padding: 1rem;
    border-radius: 50px;
    background-color: lightskyblue;
    margin: auto;
    min-width: 80vw;
    max-width: 100vw;
    height: 100%;
    padding-bottom: 2vw;
}

.link {
    text-align: center;
    background-color: lightskyblue;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    height: 70px;
    width: 350px;
    align-items: center;
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
}

.link a {
    text-decoration: none;
    border-bottom: 1px dotted black;
}

.link p {
    display: inline;
}

.link img {
    height: 50px;
    width: auto;
    border-radius: 15px;
    margin-right: 10px;
}

.dono-elements{
    max-width: 100vw;
    padding: 10px;
    width: auto;
}

.dono-img img {
    border-radius: 25px;
    width: min(30rem, 90%);
}

.stats {
    border-radius: 25px;
    padding: 10px;
    width: min(30rem, 90%);
    background-color: lightcyan;
    margin-left: auto;
    margin-right: auto;
}

.stats-item {
    padding: 5px 15px;
    border-radius: 25px;
    background-color: #66fac9;
    width: min(20rem, 80%);
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.link-button {
    padding: 1rem 2rem;
    width: 5rem;
    border-radius: 25px;
    color: black;
    background-color: lightskyblue;
    text-decoration: none;
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
}

.tooltip {
  position: relative;
  display: inline-block;
  /* If you want dots under the hoverable text */
  border-bottom: 1px dotted black;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.center {
    text-align: center;
}

.dimmer-small {
    color: gray;
    font-size: 0.7rem;
}

@media (min-width: 768px) {
    .nafoarms-title-text {
        font-size: $header-title-font-size;
        color: $header-font-color;
        font-weight: 900;
        margin: 0;
    }

    ;

    .nafoarms-motto {
        font-size: $header-motto-font-size;
    }

    ;

    .nafoarms-logo {
        img {
            content: url("{{ 'assets/images/gallery/pride_100x100.png' | relative_url }}");
            max-width: 150px;
            max-height: 150px;
        }
    }
}

@media (max-width: 768px) {
    .nafoarms-masthead {
        flex-direction: column;
        justify-content: center;
    }

    .nafoarms-title-text {
        font-size: $header-title-font-size-mobile;
        color: $header-font-color;
        font-weight: 900;
        margin: 0;
    }

    ;

    .nafoarms-motto {
        font-size: $header-motto-font-size-mobile;
    }

    .nafoarms-footer {
        border-radius: 50px 50px 0px 0px;
        padding-bottom: 30%;
    }

    ;

    .nafoarms-logo {
        img {
            content: url("{{ 'assets/images/gallery/pride_100x100.png' | relative_url }}");
            max-width: 100px;
            max-height: 100px;
        }
    }

    .nafoarms-navbar {
        flex-direction: column;
        width: 85%;
    }

    .nafoarms-main p {
        width: 95%;
    }
}

@media (min-width:960px) {}

@media (min-width:1100px) {
    .nafoarms-logo {
        img {
            content: url("{{ 'assets/images/gallery/pride_100x100.png' | relative_url }}");
            max-width: 200px;
            max-height: 200px;
        }
    }
}

.nafoarms-navbar-anchor {
    color: $header-font-color;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.5rem;
    text-decoration: none;
    border-radius: 25px;
    transition: 1s;
}

.nafoarms-navbar-anchor:hover {
    color: black;
    background-color: #d4f54e;
}

#banner {
    width: 100%;
}

.nafoarms-header {
    flex: 1;
}

.nafoarms-gallery {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
}

.nafoarms-gallery div {
    overflow: hidden;
    margin: 0.5rem;
}

.nafoarms-gallery img {
    box-shadow: 2px 2px 2px #c2c2c2;
    width: 10vw;
    height: auto;
    border-radius: 15px;
    transition-timing-function: ease-in-out;
    transition: width 1s;
}

.nafoarms-gallery img:hover {
    width: 12vw;
}