---
---

$font-family: Roboto, Helvetica, Arial, sans-serif;
$body-background-color: #4176b633;
$header-background-color: #4276b6;
$header-navbar-color: goldenrod;
$header-content-color: white;
$header-font-color: white;
$header-title-font-size: 4rem;
$header-title-font-size-mobile: 3rem;
$header-motto-font-size: 1rem;
$header-motto-font-size-mobile: 0.75rem;

html {
    font-size: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    background-color: $body-background-color;
    font-size: 1rem;
    font-family: $font-family;
    margin: 0;
}

.nafoarms-header {
    background-color: $header-background-color;
    padding: 0;
    width: 100%;
    //    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    //    position: fixed;
}

.nafoarms-masthead {
    display: flex;
    flex: 3 1 auto;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-items: center;
}

.nafoarms-title {
    margin-bottom: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}

.nafoarms-motto {
    vertical-align: top;
    font-style: italic;
    color: $header-font-color;
    font-weight: bold;
    margin-top: 0;
    display: inline-block;
}

.nafoarms-navbar {
    background-color: $header-navbar-color;
    padding-top: 0.25rem;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: row;
}

.nafoarms-main {
    background-color: $header-content-color;
    flex: 2;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 1rem;
    margin-top: 0px; // override the theme
    min-width: 80vw;
    max-width: 100vw;
}

@media (min-width: 768px) {
    .nafoarms-title-text {
        font-size: $header-title-font-size;
        color: $header-font-color;
        font-weight: 900;
        margin: 0;
    }

    ;

    .nafoarms-motto {
        font-size: $header-motto-font-size;
    }

    ;

    .nafoarms-logo {
        img {
            content: url("{{ 'assets/images/pride_100x100.png' | relative_url }}");
            max-width: 150px;
            max-height: 150px;
        }
    }
}

@media (max-width: 768px) {
    .nafoarms-masthead {
        flex-direction: column;
        justify-content: center;
    }

    .nafoarms-title-text {
        font-size: $header-title-font-size-mobile;
        color: $header-font-color;
        font-weight: 900;
        margin: 0;
    }

    ;

    .nafoarms-motto {
        font-size: $header-motto-font-size-mobile;
    }

    ;

    .nafoarms-logo {
        img {
            content: url("{{ 'assets/images/pride_100x100.png' | relative_url }}");
            max-width: 100px;
            max-height: 100px;
        }
    }

    .nafoarms-navbar {
        flex-direction: column;
    }
}

@media (min-width:960px) {}

@media (min-width:1100px) {
    .nafoarms-logo {
        img {
            content: url("{{ 'assets/images/pride_100x100.png' | relative_url }}");
            max-width: 200px;
            max-height: 200px;
        }
    }
}

.nafoarms-navbar-anchor {
    color: $header-font-color;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.5rem;
    text-decoration: none;
}

.nafoarms-navbar-anchor:hover {
    color: $header-content-color;
    background-color: $header-navbar-color;
}

#banner {
    width: 100%;
}

.nafoarms-tweet {
    text-align: center;
}

.nafoarms-header {
    flex: 1;
}

.nafoarms-footer {
    flex: 3;
    position: relative;
}

.nafoarms-donategallery {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.nafoarms-donateimage {
    max-width: 60vw;
    overflow: hidden;

    img {
        max-width: 100%;
        height: auto;
    }
}

.nafoarms-donatelinks {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0.5rem;

    // increase the spacing between divs
    div {
        margin: 0.5rem;
    }
}

.nafoarms-donatelink {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 40vw;

    img {
        max-width: 10vw;
        height: auto;
    }
}